{{ if or .IsHome (eq .Kind "section") (eq .Layout "archive") }}{{ with resources.Get "js/scroll.js" | minify }}
<script>
    {{ .Content | safeJS }}
</script>
{{ end }}{{ end }}
{{ if or (eq .Kind "page") (eq .Layout "archive") }}{{ with resources.Get "js/back.js" | minify }}
<script>
    {{ .Content | safeJS }}
</script>
{{ end }}{{ end }}
{{ if .IsHome }}{{ with resources.Get "js/fit.js" | minify }}
<script>
    {{ .Content | safeJS }}
</script>
{{ end }}{{ end }}
{{ if eq .Kind "page" }}{{ with resources.Get "js/copy.js" | minify }}
<script>
    {{ .Content | safeJS }}
</script>
{{ end }}{{ end }}
{{ if eq .Layout "search" }}{{ with resources.Get "js/search.js" | minify }}
<script type="module">
    {{ .Content | safeJS }}
</script>
{{ end }}{{ end }}
