<div class="photo-grid">
    {{- $count := 0 -}} {{- range where site.RegularPages "Section" "posts" -}}
    {{- $post := . -}} {{- range .Resources.ByType "image" -}} {{- $thumb :=
    .Fill "256x256" -}}
    <a href="{{ $post.Permalink }}"
        ><img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" loading="lazy"
    /></a>
    {{- $count = add $count 1 -}} {{- end -}} {{- end -}} {{- $rem3 := mod
    $count 3 -}} {{- $rem2 := mod $count 2 -}} {{- if ne $rem3 0 -}}
    <div class="photo-placeholder for-3-col"></div>
    {{- if eq $rem3 1 -}}
    <div class="photo-placeholder for-3-col"></div>
    {{- end -}} {{- end -}} {{- if eq $rem2 1 -}}
    <div class="photo-placeholder for-2-col"></div>
    {{- end -}}
</div>
