{{ $description := .Description | default .Summary | default
.Site.Params.description }} {{ with $description }}
<meta name="description" content="{{ . | plainify | truncate 160 }}" />
{{ end }} {{ with .Site.Params.author }}
<meta name="author" content="{{ . }}" />
{{ end }} {{ with .Site.Params.keywords }}
<meta name="keywords" content="{{ . }}" />
{{ end }}

<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ printf "%s | %s" .Title .Site.Title }}{{ end }}" />
<meta
    property="og:description"
    content="{{ $description | plainify | truncate 160 }}"
/>
<meta
    property="og:type"
    content="{{ if .IsPage }}article{{ else }}website{{ end }}"
/>
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
{{ with .Params.cover }}{{ with $.Resources.GetMatch . }} {{ $og := .Fill
"1200x630 Center webp q80" }}
<meta property="og:image" content="{{ $og.Permalink }}" />
{{ end }}{{ end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title | default .Site.Title }}" />
<meta
    name="twitter:description"
    content="{{ $description | plainify | truncate 160 }}"
/>
{{ with .Params.cover }}{{ with $.Resources.GetMatch . }} {{ $twitter := .Fill
"1200x630 Center webp q80" }}
<meta name="twitter:image" content="{{ $twitter.Permalink }}" />
{{ end }}{{ end }}

<link rel="canonical" href="{{ .Permalink }}" />
