{{ with .Params.cover }} {{ with $.Resources.GetMatch . }} {{ $small := .Fill
"128x128 Center webp q80" }} {{ $large := .Fill "768x768 Center webp q80" }}
<a href="{{ $.RelPermalink }}">
    <img
        src="{{ $small.RelPermalink }}"
        srcset="{{ $small.RelPermalink }} 128w, {{ $large.RelPermalink }} 768w"
        sizes="(max-width: 768px) 100vw, 128px"
        width="768"
        height="768"
        alt="{{ $.Title }} cover image"
        fetchpriority="high"
        decoding="async"
        class="cover"
    />
</a>
{{ end }} {{ else }} {{ $letters := printf "%s%s" (upper (substr .Title 0 1))
(lower (substr .Title 1 1)) }}
<a href="{{ .RelPermalink }}" class="cover-placeholder">{{ $letters }}</a>
{{ end }}
