{{ $isPost := and (eq .Kind "page") (eq .Section "posts") }} {{ if $isPost }}

<div id="pop-wrapper">
    <a
        href="mailto:sven.eisenschmidt@gmail.com?subject=Feedback on {{ .Title }}"
    >
        Email me</a
    >
    or leave a reaction: <span id="pop"></span>
</div>
<hr />
{{ end }}
<script src="https://pop.eisenschmidt.website/pop.min.js" defer></script>
<script defer>
    document.addEventListener("DOMContentLoaded", function() {
        Pop.init({
            endpoint: "https://pop.eisenschmidt.website/api",
            pageId: {{ .Permalink }},
        {{ if $isPost }}
            el: "#pop",
            emojis: ["❤️", "👍", "💡"],
            renderReactions: true,
            renderVisits: true,
            onLoad: function(pageInfo) {
              console.log(pageInfo);
            },
        {{ end }}
            trackVisits: true
        });
    });
</script>
