{{ with .Params.cover }} {{ with $.Resources.GetMatch . }} {{ $small := .Fill
"128x128 Center webp q80" }} {{ $large := .Fill "768x768 Center webp q80" }}
<a href="{{ $.RelPermalink }}">
    <img
        src="{{ $small.RelPermalink }}"
        srcset="{{ $small.RelPermalink }} 128w, {{ $large.RelPermalink }} 768w"
        sizes="(max-width: 768px) 100vw, 128px"
        width="768"
        height="768"
        alt="{{ $.Title }} cover image"
        fetchpriority="high"
        decoding="async"
        class="cover"
    />
</a>
{{ end }} {{ else }} {{ $words := split .Title " " }} {{ $initials := "" }} {{
range first 2 $words }} {{ $initials = printf "%s%s" $initials (substr . 0 1) }}
{{ end }}
<a href="{{ .RelPermalink }}" class="cover-placeholder"
    >{{ upper $initials }}</a
>
{{ end }}
