<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>
    {{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
    site.Title }}{{ end }}
</title>
<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="dns-prefetch" href="https://pop.eisenschmidt.website" />
<link rel="preconnect" href="https://pop.eisenschmidt.website" crossorigin />
<link
    rel="preload"
    href="/fonts/WorkSans-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
/>
<link
    rel="preload"
    href="/fonts/WorkSans-Medium.woff2"
    as="font"
    type="font/woff2"
    crossorigin
/>
<link
    rel="preload"
    href="/fonts/WorkSans-Italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
/>
{{ partialCached "head/meta.html" . }} {{ partialCached "head/css.html" . }} {{
partialCached "head/js.html" . }} {{ if .IsHome }} {{ $firstPost := index
site.RegularPages 0 }} {{ with $firstPost.Params.cover }} {{ with
$firstPost.Resources.GetMatch . }} {{ $small := .Fill "128x128 Center" }} {{
$large := .Fill "768x768 Center" }}
<link
    rel="preload"
    as="image"
    href="{{ $large.RelPermalink }}"
    media="(max-width: 768px)"
/>
<link
    rel="preload"
    as="image"
    href="{{ $small.RelPermalink }}"
    media="(min-width: 769px)"
/>
{{ end }} {{ end }} {{ end }}
