body {
    color: #222;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 1rem auto;
    max-width: 768px;
    padding: 1rem;
}

img {
    border-radius: 0.25rem;

    &.thumbnail {
        float: right;
        margin: 0rem 0.5rem;
        &::after {
            clear: both;
        }
    }

    &.hero {
        width: 90%;
        margin: 0 5%;
    }
}

img.inline {
    float: right;
    margin: 0.5rem;
    width: 33%;
}

header {
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;

    h1 {
        text-align: center;
        font-size: clamp(1.2rem, 5vw, 2rem);
        word-break: break-word;

        a:not(.back) {
            color: black;
        }
    }

    nav {
        text-align: center;
        margin-bottom: 1rem;
    }
}

footer {
    border-top: 1px solid #222;
    margin-top: 1rem;
}

a {
    color: #00e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0;
}
