body {
    color: #222;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 1rem auto;
    max-width: 768px;
    padding: 1rem;
}

header {
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;

    h1 {
        text-align: center;
        font-size: clamp(1.2rem, 5vw, 2rem);
        word-break: break-word;

        a {
            color: black;
        }
    }

    nav {
        text-align: center;
        margin-bottom: 1rem;
    }
}

footer {
    border-top: 1px solid #222;
    margin-top: 1rem;
}

a {
    color: #00e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
